@{
    ViewBag.Title = "О магазине";
}
<h2>@ViewBag.Title.</h2>
<h4>
    <p>
        Мы специализируемся на поставках уникальных, редких и оооочень нестандартных сладостей со всего мира.
        В нашем магазине, ты сможешь найти эксклюзивные вкусняшки, не представленные в магазинах Украины,
        лимитированные выпуски от мировых брендов и очень необыные сладости и не только!

        Мы подобрали самые интересные решения для подарков на любой случай.
        Мы заботимся о качестве нашей продукции, мы постоянно расширяем наш ассортимент и ищем новых поставщиков самых удивительных сладких товаров.

        Мы сделали наш магазин максимально удобным для Вас. Широчайший ассортимент, доступные цены, отличный сервис, быстрая доставка по всей России и гарантия качества всей продукции, продаваемой на нашем сайте. Это и есть залог успеха нашего магазина.

        Мы беспокоимся о том, чтобы Вам действительно нравился наш магазин и Вы возвращались к нам снова и снова.
        Поэтому мы рады вашим письмам с предложениями и отзывам о нашей работе. Все это позволяет нам становится с каждым днём все лучше.
    </p>
</h4>
