@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>

<address>
    Харьков<br />
    Украина<br />
    <abbr title="Наш телефон:">+3801111111111111</abbr><br />


<p>Hello teachers</p>
    info@mdshow.ru
</address>
